/* Import font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Inter";

  /* Some var */
  --gradient-1: linear-gradient(
    30deg,
    rgb(var(--color-first)),
    rgb(var(--color-second)),
    rgb(var(--color-third))
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(var(--color-on-background));
}

::-ms-reveal {
  filter: invert(100%);
}

.text-gradient-1 {
  display: inline-block;
  color: transparent;
  -webkit-text-fill-color: transparent;
  background: var(--gradient-1);
  background-clip: text;
}

.bg-gradient-1 {
  background: var(--gradient-1);
}
